{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<div class="content">
    <div class="add_post">
        <p>Добро пожаловать на наш веб-сайт!</p>

        <p>Это место, где вы можете насладиться увлекательными историями, фотографиями и советами от людей со всего мира. Наш сайт создан для того, чтобы делиться путешественническим опытом и вдохновлять других на приключения.</p>
        <p>Мы приглашаем вас присоединиться к нашему сообществу, поделиться своими увлекательными путешествиями и идеями, а также найти вдохновение для новых приключений. Независимо от того, являетесь ли вы опытным путешественником или только начинаете свой путь и ищете идеи, у нас всегда есть что-то интересное.</p>
        <p>Спасибо, что посетили наш сайт, и приятного чтения!</p>
    </div>

</div>
{% endblock %}