{% extends 'base.html' %}

{% block title %}По профилю: {{prof}}{% endblock %}

{% block content %}
<div class="content">

    <div class="profile">
        <div class="profile_info">
            {% include 'gallery.html' %}
        </div>

        <div class="user_posts">
            {% if prof%}
                {% if user_posts %}
                    <h3>Публикации пользователя <i>{{prof}}</i></h3>
                    {% include 'posts_preview.html' %}
                {%else%}
                    <h3>Пользователя <i>{{prof}}</i> не существует</h3>
                {% endif %}
            {% else %}
                <h3>Введите имя пользователя</h3>
            {% endif %}
        </div>

       <div class="tags">
            {% include 'tags_include.html' %}
        </div>
    </div>


</div>



{% endblock %}
